body {
	background: #171f2b;
	color: white;
	text-align: center;
}
.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #008000;
  color: #CCCCCC;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #020202;
  border-right: 1px solid #020202;
  border-bottom: 1px solid #020202;
  border-left: 1px solid #020202;
}
